/*Intégrer les polices: Logo et titres: Shrikhand - Texte: Roboto*/
/*Penser à déplacer les typos dans _base -> typo - lien @import*/


/*Les couleurs seront à déplacer dans utils -> _variables - penser à rajouter le lien @import*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;

/*Mise en forme des boutons et déplacer dans componenets -> _buttons - lien @import*/
