@charset "UTF-8";
/*VARIABLE COULEURS*/
/*VARIABLE DUREES ANIMATIONS*/
body {
  margin: 0;
  background-color: #eaeaea;
  overflow-x: hidden; }

/*COEUR AVANT HOVER*/
/*COEUR AU HOVER + TRANSITION*/
body {
  font-family: 'Roboto', sans-serif; }

/*Typo accueil*/
.h1-accueil {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.5rem; }

.h2-accueil {
  font-weight: 700;
  font-size: 1.5rem; }

.h3-accueil {
  font-size: 1.125rem;
  font-weight: 100; }

.h4-accueil {
  font-size: 1.125rem;
  font-weight: 700; }

.p-accueil {
  font-size: 1.063rem;
  font-weight: 300; }

.choix-accueil {
  font-weight: 700;
  font-size: 1rem; }

.geolocalisation-accueil {
  font-size: 1rem;
  font-weight: 400; }

/*Typo pages menus*/
h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.6rem; }

.h2-menus {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  position: relative;
  margin-bottom: 25px; }
  .h2-menus::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 40px;
    background-color: #99E2D0;
    left: 0;
    top: 23px; }

h3 {
  font-weight: 700;
  font-size: 1.125rem; }

p {
  font-weight: 100;
  font-size: 0.85rem; }

/*Typo prix*/
strong {
  font-weight: 700;
  font-size: 0.938rem; }

/*Typo footer*/
h5 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.125rem;
  margin: 0; }

.btn {
  border-radius: 23px;
  border: none;
  width: 213px;
  height: 49px;
  background: linear-gradient(to bottom right, #FF79DA 0%, #9256dc 100%);
  box-shadow: 0px 5px 10px #b4b4b4;
  color: white;
  position: relative;
  cursor: pointer;
  z-index: 1;
  /*BOUTON HOVER*/ }
  .btn--space-menus {
    margin-bottom: 65px; }
  .btn:hover::after {
    opacity: 1; }
  .btn::after {
    content: "";
    border-radius: 23px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fface8;
    opacity: 0;
    transition: opacity 250ms;
    position: absolute;
    z-index: -1;
    box-shadow: 0px 5px 10px #020202; }

.footer {
  height: 195px;
  background-color: #353535;
  padding: 15px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white; }
  .footer h5 {
    padding-bottom: 30px; }
  .footer > div {
    padding-bottom: 15px; }
    .footer > div > a {
      color: white;
      text-decoration: none;
      padding-left: 15px;
      font-size: 1rem; }
  .footer > a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding-bottom: 15px; }

@keyframes animation {
  0% {
    opacity: 0;
    transform: translateY(25px); }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes background {
  0% {
    opacity: 1;
    transform: translateX(0); }
  90% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(9000px); } }
@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(380deg);
    display: none; } }
/*2 PREMIERS CONTAINERS*/
.container-first {
  height: 62px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /*DIV LOGO AJOUT SHADOW*/
  /*CONTAINER LOGO*/
  /*CONTAINER LOCALISATION*/
  /*header des pages menus***********************/ }
  .container-first--shadow {
    box-shadow: 0px 0px 5px #b4b4b4;
    background-color: white;
    z-index: -1; }
  .container-first__logo {
    width: 160px;
    z-index: 1; }
  .container-first__icone {
    padding-right: 17px; }
  .container-first--bg-white {
    background-color: white; }
  .container-first > a {
    position: relative; }
    .container-first > a > i {
      position: absolute;
      top: -9px;
      right: 210px;
      color: #353535; }

/*PRESENATION*/
.container-presentation {
  height: 284px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px; }
  .container-presentation h1 {
    padding-left: 25px;
    padding-right: 25px; }

/*IMAGES DES MENUS SUR CHAQUE PAGE MENU*/
figure {
  width: 100vw;
  height: 250px;
  overflow: hidden;
  margin: 0; }
  figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/*SECTION FONCTIONNEMENT*/
.section-fonctionnement {
  padding: 50px 18px 50px 30px;
  background-color: white;
  width: 96vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*CONTAINERS*/ }
  .section-fonctionnement .container-fonctionnement {
    display: flex;
    align-items: center;
    text-align: center;
    width: 86vw;
    height: 73px;
    background-color: #f6f6f6;
    border-radius: 21px;
    box-shadow: 0px 5px 10px #b4b4b4;
    margin-bottom: 20px;
    position: relative;
    /*NUMEROS CONTAINERS*/
    /*ICONES CONTAINERS*/
    /*PARAGRAPHES CONTAINERS*/ }
    .section-fonctionnement .container-fonctionnement__number {
      width: 24px;
      height: 20px;
      border-radius: 24px;
      background-color: #9356DC;
      position: absolute;
      top: 25px;
      left: -13px;
      font-size: 0.875rem;
      font-weight: 400;
      color: white;
      display: table-cell;
      vertical-align: middle;
      padding-top: 4px; }
    .section-fonctionnement .container-fonctionnement__icone {
      padding-left: 38px;
      color: #7e7e7e; }
    .section-fonctionnement .container-fonctionnement__p {
      padding-left: 20px; }

main {
  /*LOADING SPINNER*/ }
  main .load {
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.76);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*ANIMATION DES PLATS*/
    animation: background 3s linear forwards; }
    main .load > img {
      /*ANIMATION DU LOADING SPINNER*/
      animation: spinner 3s linear forwards;
      width: 100vw; }

/*SECTION RESTAURANTS*/
.section-restaurant {
  padding: 50px 20px 50px 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*RESTAURANTS*/ }
  .section-restaurant > h2 {
    margin-top: 0;
    text-align: left;
    width: 90vw; }
  .section-restaurant__vignette {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 5px 10px #b4b4b4;
    border-radius: 13px;
    margin-bottom: 10px;
    /*CADRES IMAGES MENUS*/
    /*CADRES TEXTES + COEURS DES IMAGES*/ }
    .section-restaurant__vignette > figure {
      display: block;
      width: 300px;
      height: 174px;
      overflow: hidden;
      margin: 0;
      border-radius: 13px 13px 0px 0px;
      position: relative;
      z-index: 1;
      /*BOUTON NOUVEAUTE*/
      /*IMAGES MENUS*/ }
      .section-restaurant__vignette > figure > .nouveaute {
        background-color: #99E2D0;
        color: #008766;
        font-size: 0.875rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 29px;
        border-radius: 3px;
        position: absolute;
        top: 17px;
        right: 12px;
        z-index: 2; }
      .section-restaurant__vignette > figure > img {
        width: 110%;
        height: 125%;
        object-fit: cover;
        position: absolute;
        top: -39px; }
    .section-restaurant__vignette > div {
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 15px;
      position: relative;
      /*CADRES TEXTES IMAGES*/
      /*ANIMATIONS DES BOUTONS COEURS*/ }
      .section-restaurant__vignette > div > div {
        color: black; }
        .section-restaurant__vignette > div > div > h4 {
          margin-bottom: 0px; }
        .section-restaurant__vignette > div > div > p {
          margin-top: 7px; }
      .section-restaurant__vignette > div .far.fa-heart {
        color: black;
        position: absolute;
        top: 30px;
        right: 16px;
        font-size: 1.7rem;
        opacity: 1;
        transition: opacity 500ms ease-in-out;
        z-index: 1;
        background: transparent;
        /*HOVER*/ }
        .section-restaurant__vignette > div .far.fa-heart:hover {
          opacity: 0; }
          .section-restaurant__vignette > div .far.fa-heart:hover + .fas.fa-heart {
            transform: scaleY(1);
            opacity: 1; }
      .section-restaurant__vignette > div .fas.fa-heart {
        position: absolute;
        top: 30px;
        right: 16px;
        font-size: 1.7rem;
        z-index: 0;
        background: linear-gradient(to bottom, #9256dc 0%, #FF79DA 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform-origin: center top;
        opacity: 0;
        transform: scaleY(0);
        transition: all 500ms ease-in-out; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*SECTION TITRE MENU + BOUTON J'AIME*/
  /*SECTONS MENUS ENTREES + PLATS + DESSERTS*/ }
  main .div-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92vw;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    top: -47px;
    background-color: #eaeaea;
    /*ANIMATIONS DES BOUTONS COEURS*/ }
    main .div-titre > .far.fa-heart {
      color: black;
      position: absolute;
      top: 30px;
      right: 16px;
      font-size: 1.7rem;
      opacity: 1;
      transition: opacity 500ms ease-in-out;
      z-index: 1;
      background: transparent;
      /*HOVER*/
      top: 22px; }
      main .div-titre > .far.fa-heart:hover {
        opacity: 0; }
        main .div-titre > .far.fa-heart:hover + .fas.fa-heart {
          transform: scaleY(1);
          opacity: 1; }
    main .div-titre > .fas.fa-heart {
      position: absolute;
      top: 30px;
      right: 16px;
      font-size: 1.7rem;
      z-index: 0;
      background: linear-gradient(to bottom, #9256dc 0%, #FF79DA 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform-origin: center top;
      opacity: 0;
      transform: scaleY(0);
      transition: all 500ms ease-in-out;
      top: 22px; }
  main section {
    margin-top: -20px;
    margin-bottom: 20px;
    /*VIGNETTES DE CHAQUE PLATS*/ }
    main section .vignette {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      background-color: white;
      width: 90vw;
      height: auto;
      border-radius: 16px;
      margin-bottom: 15px;
      animation: animation 1000ms ease-in-out;
      box-shadow: 0px 5px 10px #b4b4b4;
      /*ANIMATIONS APPARITIONS DES PLATS*/
      /*1RER COLONNE VIGNETTE (H3 + PARAGRAPHE) AVANT HOVER*/
      /*2EME COLONNE VIGNETTE PRIX AVANT HOVER*/
      /*CHECK SANS HOVER*/
      /*ANIMATIONS DES CHECKS - CHOIX MENUS*/
      /*Réduction de la largeur de la 1ère colonne pour faire de la place au check*/
      /*Rognage du H3 + paragraphe avec les 3 points de suspensions*/
      /*Déplacement du check sur la gauche pour qu'il apparaisse*/ }
      main section .vignette--1 {
        animation-delay: 100ms; }
      main section .vignette--2 {
        animation-delay: 200ms; }
      main section .vignette--3 {
        animation-delay: 300ms; }
      main section .vignette--4 {
        animation-delay: 400ms; }
      main section .vignette--5 {
        animation-delay: 500ms; }
      main section .vignette--6 {
        animation-delay: 600ms; }
      main section .vignette--7 {
        animation-delay: 700ms; }
      main section .vignette--8 {
        animation-delay: 800ms; }
      main section .vignette--9 {
        animation-delay: 900ms; }
      main section .vignette--10 {
        animation-delay: 1000ms; }
      main section .vignette__premiere-colonne {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 142vw;
        padding: 10px; }
        main section .vignette__premiere-colonne > h3 {
          margin: 0;
          padding-bottom: 5px; }
        main section .vignette__premiere-colonne > p {
          margin: 0; }
      main section .vignette__seconde-colonne {
        display: flex;
        align-items: flex-end;
        justify-content: right;
        width: 10vw;
        padding-bottom: 10px; }
      main section .vignette .check {
        background: #99E2D0;
        color: white;
        width: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 15px 15px 0px;
        transform: translateX(65px);
        transition: all .4s ease-in-out; }
        main section .vignette .check > i {
          transform: rotate(-180deg); }
      main section .vignette:hover > .vignette__premiere-colonne {
        width: 40vw; }
      main section .vignette:hover > .vignette__premiere-colonne > h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      main section .vignette:hover > .vignette__premiere-colonne > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: auto; }
      main section .vignette:hover > .check {
        transform: translateX(0);
        transition: transform .4s ease-in-out;
        /*Rotation de l'icone check*/ }
        main section .vignette:hover > .check > i {
          transform: rotate(0deg);
          transition: transform 1000ms ease-in-out; }

@media (min-width: 1024px) {
  .section-fonctionnement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw; }
    .section-fonctionnement > h2.h2-accueil {
      width: 90vw; }
    .section-fonctionnement > div.container-fonctionnement {
      width: 29vw; }

  .section-restaurant__vignette {
    width: 45vw; }
    .section-restaurant__vignette > figure {
      width: 45vw; }

  main {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    flex-wrap: wrap; }
    main .load > img {
      width: 20vw; }
    main > section > .vignette {
      width: 30vw; }
      main > section > .vignette > .vignette__premiere-colonne {
        width: 46vw; }
      main > section > .vignette > .vignette__seconde-colonne {
        margin-right: 10px; }
    main > .btn.btn--space-menus {
      margin-left: 30vh;
      margin-right: 30vh; }

  .footer {
    align-items: center; } }
@media (min-width: 1900px) {
  main {
    max-width: 1400px;
    margin: auto; }
    main > .btn.btn--space-menus {
      margin-left: 40vh;
      margin-right: 40vh; }

  .section-restaurant {
    margin-right: 0; }
    .section-restaurant__vignette {
      width: 40vw;
      margin-right: 20px; }
      .section-restaurant__vignette > figure {
        width: 40vw; }

  footer {
    align-items: center; } }

/*# sourceMappingURL=style.css.map */
