.btn {
    border-radius: 23px;
    border: none;
    width: 213px;
    height: 49px;
    background: linear-gradient(to bottom right, $color-gradient-first 0%, $color-gradient-second 100%);
    box-shadow: 0px 5px 10px $color-shadow;
    color: white;
    position: relative;
    cursor: pointer;
    z-index: 1;
    &--space-menus {
    margin-bottom: 65px;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        border-radius: 23px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: opacity 250ms;
        background-color: $color-gradient-first;
        opacity: 0;
        position: absolute;
        z-index: -1;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.651);
        
    }
}