@charset "UTF-8";
/*Intégrer les polices: Logo et titres: Shrikhand - Texte: Roboto*/
/*Penser à déplacer les typos dans _base -> typo - lien @import*/
/*Les couleurs seront à déplacer dans utils -> _variables - penser à rajouter le lien @import*/
/*Mise en forme des boutons et déplacer dans componenets -> _buttons - lien @import*/
body {
  margin: 0;
  background-color: #eaeaea;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-weight: 900;
  font-size: 1.5rem; }

h2 {
  font-weight: 700;
  font-size: 1.5rem; }

h3 {
  font-size: 1.125rem;
  font-weight: 100; }

h4 {
  font-size: 1.125rem;
  font-weight: 700; }

h5 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.125rem; }

p {
  font-size: 1.063rem;
  font-weight: 300; }

/*taille image*/
.container-first {
  height: 62px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-first--shadow {
    box-shadow: 0px 0px 5px #b4b4b4;
    background-color: white;
    z-index: -1; }
  .container-first__logo {
    width: 160px;
    z-index: 1; }
  .container-first__icone {
    padding-right: 17px; }

.container-presentation {
  height: 284px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; }
  .container-presentation h1 {
    padding-left: 40px;
    padding-right: 40px; }
  .container-presentation .btn {
    border-radius: 23px;
    border: none;
    width: 213px;
    height: 49px;
    background: linear-gradient(to bottom right, #FF79DA 0%, #9256dc 100%);
    color: white;
    position: relative;
    z-index: 1; }
    .container-presentation .btn:hover::after {
      opacity: 1; }
    .container-presentation .btn::after {
      content: "";
      border-radius: 23px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: opacity 250ms;
      background-color: #FF79DA;
      opacity: 0;
      position: absolute;
      z-index: -1; }

.section-fonctionnement {
  padding: 50px 18px 50px 30px;
  background-color: white; }
  .section-fonctionnement .container-fonctionnement {
    display: flex;
    align-items: center;
    text-align: center;
    width: 86vw;
    height: 73px;
    background-color: #f6f6f6;
    border-radius: 21px;
    box-shadow: 0px 5px 10px #b4b4b4;
    margin-bottom: 20px;
    position: relative; }
    .section-fonctionnement .container-fonctionnement__number {
      width: 24px;
      height: 20px;
      border-radius: 24px;
      background-color: #9356DC;
      position: absolute;
      top: 25px;
      left: -13px;
      font-size: 0.875rem;
      font-weight: 400;
      color: white;
      display: table-cell;
      vertical-align: middle;
      padding-top: 4px; }
    .section-fonctionnement .container-fonctionnement__icone {
      padding-left: 38px;
      color: #7e7e7e; }
    .section-fonctionnement .container-fonctionnement__p {
      font-weight: 700;
      font-size: 1rem;
      padding-left: 20px; }

.section-restaurant {
  padding: 50px 20px 50px 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .section-restaurant > h2 {
    text-align: left;
    width: 100vw; }
  .section-restaurant__vignette {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 13px;
    margin-bottom: 10px; }
    .section-restaurant__vignette > figure {
      display: block;
      width: 300px;
      height: 174px;
      overflow: hidden;
      margin: 0;
      border-radius: 13px 13px 0px 0px; }
      .section-restaurant__vignette > figure > img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .section-restaurant__vignette > figcaption {
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 15px;
      position: relative; }
      .section-restaurant__vignette > figcaption > div {
        color: black; }
        .section-restaurant__vignette > figcaption > div > h4 {
          margin-bottom: 0px; }
        .section-restaurant__vignette > figcaption > div > p {
          margin-top: 7px; }
      .section-restaurant__vignette > figcaption .heart {
        color: black;
        position: absolute;
        top: 30px;
        right: 16px; }
    .section-restaurant__vignette img {
      width: 330px; }

.footer {
  height: 197px;
  background-color: #353535;
  padding: 15px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: white; }
  .footer > div > a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    font-size: 1rem; }
  .footer > a {
    color: white;
    text-decoration: none;
    font-size: 1rem; }

/*# sourceMappingURL=style.css.map */
