main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*SECTION TITRE MENU + BOUTON J'AIME*/
    .div-titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 92vw;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 40px 40px 0px 0px;
        position: relative;
        top: -47px;
        background-color: $color-fond;
        /*ANIMATIONS DES BOUTONS COEURS*/
        & > .far.fa-heart {
            @include heart;
        }
        & > .fas.fa-heart {
            @include heart-full;
        }
    }
    /*SECTONS MENUS ENTREES + PLATS + DESSERTS*/
    section {
        margin-top: -20px;
        margin-bottom: 20px;
        /*VIGNETTES DE CHAQUE PLATS*/
        .vignette {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            background-color: white;
            width: 90vw;
            height: auto;
            border-radius: 16px;
            margin-bottom: 15px;
            animation: animation 1000ms ease-in-out;
            box-shadow: 0px 5px 10px $color-shadow;
            /*ANIMATIONS APPARITIONS DES PLATS*/
            @for $i from 1 through 10 {
                &--#{$i} {
                    animation-delay: $anim-delay * $i;
                }
            }
            /*1RER COLONNE VIGNETTE (H3 + PARAGRAPHE) AVANT HOVER*/
            &__premiere-colonne {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 64vw;
                padding: 10px;
                & > h3 {
                    margin: 0;
                }
                & > p {
                    margin: 0;
                }
            }
            /*2EME COLONNE VIGNETTE PRIX AVANT HOVER*/
            &__seconde-colonne {
                display: flex;
                align-items: flex-end;
                padding: 0 15px 10px 0px;
            }
            /*CHECK SANS HOVER*/
            .check {
                background: $color-tertiaire;
                color: white;
                width: 57px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0px 15px 15px 0px;
                transition: all .4s ease-in-out;
                transform: translateX(65px);
                & > i {
                    transform: rotate(-180deg);
                }
            }
            /*ANIMATIONS DES CHECKS - CHOIX MENUS*/
            /*Réduction de la largeur de la 1ère colonne pour faire de la place au check*/
            &:hover > .vignette__premiere-colonne {
                width: 40vw;
            }
            /*Rognage du H3 + paragraphe avec les 3 points de suspensions*/
            &:hover > .vignette__premiere-colonne > h3, p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            /*Déplacement du check sur la gauche pour qu'il apparaisse*/
            &:hover > .check {
                transform: translateX(0);
                transition: transform .4s ease-in-out;
                /*Rotation de l'icone check*/
                & > i {
                    transform: rotate(0deg);
                    transition: transform 1000ms ease-in-out;
                }
            }
        }
    }
}