@media (min-width: 1024px) {
    .section-fonctionnement {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        & > h2.h2-accueil {
            width: 90vw;
        }
        & > div.container-fonctionnement {
            width: 29vw;
        }
    }
    .section-restaurant__vignette {
        width: 45vw;
        & > figure {
            width: 45vw;
        }
    }
    main {
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        flex-wrap: wrap;
        .load {
            & > img {
                width: 20vw;
            }
        }
        & > section > .vignette {
            width: 30vw;
            & > .vignette__premiere-colonne {
                width: 26vw;
            }
        }
        & > .btn.btn--space-menus {
            margin-left: 30vh;
            margin-right: 30vh;
        }
    }
    .footer {
        align-items: center;
    }
}

@media (min-width: 1900px) {
    main {
        max-width: 1400px;
        margin: auto;
        & > .btn.btn--space-menus {
            margin-left: 40vh;
            margin-right: 40vh;
        }
    }
    .section-restaurant {
        margin-right: 0;
        &__vignette {
            width: 40vw;
            margin-right: 20px;
            & > figure {
                width: 40vw;
            }
        }
    }
    footer {
        align-items: center;
    }
}