@mixin heart {
    color: black;
    position: absolute;
    top: 30px;
    right: 16px;
    font-size: 1.7rem;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    z-index: 1;
    background: transparent;
    &:hover {
        opacity: 0;
        & + .fas.fa-heart {
            transform: scaleY(1);
            opacity: 1;
        }
    }
}

@mixin heart-full {
    position: absolute;
    top: 30px;
    right: 16px;
    font-size: 1.7rem;
    z-index: 0;
    background: linear-gradient(to bottom, #9256dc 0%, #FF79DA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center top;
    opacity: 0;
    transform: scaleY(0);
    transition: all 500ms ease-in-out;
}