$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;
$color-nouveaute: #008766;
$color-fond: #eaeaea;
$color-fond-secondary: #f6f6f6;
$color-gradient-first: #FF79DA;
$color-gradient-second: #9256dc;
$color-shadow: #b4b4b4;
$color-icone: #7e7e7e;
$color-footer: #353535;